<section id="HomePage">
    <div class="author">
     <div class="author-content">
         <div class="author-image">
             <img src="/img/HomeImage1.jpeg" alt="My Image" class="hero-image" width="681" height="428">
         </div>
         <div class="author-text">
             <h2 class="Home_heading">Welcome</h2>
             <p class="Home_body">
                Welcome to <b>Cyber Journals </b>, a platform for sharing technical insights! Whether you're a seasoned professional or an enthusiastic learner, our blog page is designed to foster knowledge exchange and innovation. Join us to explore a diverse array of topics, contribute your expertise, and stay ahead in the ever-evolving world of technology.
                We have designed this blog page so that the user can access and contribute their thoughts in various technical domains, like AI/ML, Cloud, Cyber Security, Blockchain, etc.     
            </p>
            <button class="add-post">
                <% if(IsSignedIn){ %>
                    <a href="/AddBlog">Add Blog</a>
                <% } else { %>
                    <a href="/login">Add Blog</a>
                <% } %>
            </button>
         </div>
     </div>
 </div>
 
 <section class="articles">
     <h2 class="articles__heading">Latest Posts</h2>
     <ul class="article-ul">
        <% data.forEach(post => { %>
            <li class="article-preview">
                <a href="/post/<%= post._id %>">
                    <img src="../<%= post.image%>" alt="Blog Post Image">
                    <div class="article-preview__content">
                        <h3><%= post.title %></h3>
                        <p><%= post.content %></p>
                    </div>
                </a>
            </li>
        <% }); %>
     </ul>
 
 
     <a href="#" class="pagination">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height: 15px;">
             <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
         </svg>
         View Older Posts
     </a>
 </section>
</section>