<body>
    <div class="Individualblog">
        <header>
            <h1><%= data.title %></h1>
        </header>
        <section class="Individualblogtext">
            <p><%= data.content %></p>
        </section>
        <section class="IndividualblogImage">
            <img src="../<%= data.image%>" alt="Author's photo" class="Individualblog_image">
        </section>
        <section class="aboutindividualauthor">
            <p><%= data.content%></p>
        </section>
    </div>
</body>
