<body>
    <div class="Individualblog">
        <header>
            <h1><%= data.title %></h1>
        </header>
        <section class="Individualblogtext">
            <p><%= data.body %></p>
        </section>
        <section class="IndividualblogImage">
            <img src="/post/<%= post._id %>" alt="Author's photo" class="Individualblog_image">
        </section>
        <section class="aboutindividualauthor">
            <p>Hiii, I am Satyajit.</p>
        </section>
    </div>
</body>
