<body class="Individualblog_body">
    <div class="Individualblog">
        <header class="Individualblog_header">
            <h1><%= data.title %></h1>
        </header>
        <section class="IndividualblogImage">
            <img src="../<%= data.image%>" alt="Author's photo" class="Individualblog_image">
        </section>
        <section class="Individualblogtext">
            <p><%= data.content %></p>
        </section>
        <section class="aboutindividualauthor">
            <p>Thankyou so much!!!!.</p>
        </section>
    </div>
</body>